body {
    background-color: lightgray;
}

@-webkit-keyframes claro {
    0%, 100% {
        background-color: green;
    }
    50% {
        background-color: lightgreen;
    }
}

button #claro.click {
    -webkit-animation: claro 1.5 1;
}

button #oscuro.click {
    -webkit-animation: oscuro 1.5 1;
}

@-webkit-keyframes oscuro {
    0%, 100% {
        background-color: green
    }
    50% {
        background-color: darkgreen
    }
}

button {
    background-color: green;
    color: white;
    border: none;
    width: 100%;
    padding: 30px;
    font-size: 2em;
    margin-top: 10px;
    text-transform: uppercase;
}

div#zona_gestos {
    width: 100%;
    min-height: 300px;
    background-color: green;
    margin-top: 10px;
    display: block;
}

div#zona_gestos.doubletap {
    -webkit-animation: pulsacion 1.5s 1;
}

div#zona_gestos.press {
    -webkit-animation: pulsacion 1.5s 1;
}

#info {
    color: white;
}

@-webkit-keyframes pulsacion {
    0%, 100% {
        background-color: lightgreen;
    }
    50% {
        background-color: white;
    }
}

@-webkit-keyframes presion {
    0%, 100% {
        background-color: darkgreen;
    }
    50% {
        background-color: lightgreen;
    }
}

@-webkit-keyframes swipe-derecha {
    0%, 100% {
        margin-left: 0%;
    }
    50% {
        margin-left: 100%;
    }
}

@-webkit-keyframes swipe-izquierda {
    0%, 100% {
        width: 100%;
    }
    50% {
        width: 0%;
    }
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
