body {
    background-color: lightgray;
}

div#zona_gestos {
    width: 100%;
    min-height: 300px;
    background-color: green;
    margin-top: 10px;
    display: block;
}

.claro {
    background-color: lightgreen;
}

.oscuro {
    background-color: darkgreen;
}

button {
    background-color: green;
    color: black;
    border: none;
    width: 100%;
    padding: 30px;
    font-size: 2em;
    margin-top: 10px;
}